Lab9/HelloWorldService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2016 (x64) (http://www.altova.com) by BITS-PILANI University, Dubai Campus (BITS-PILANI University, Dubai Campus) -->
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="http://new.webservice.namespace" targetNamespace="http://new.webservice.namespace">
	<wsdl:types>
		<xs:schema targetNamespace="http://new.webservice.namespace" elementFormDefault="qualified"/>
	</wsdl:types>
	<wsdl:message name="sayHelloRequest">
		<wsdl:part name="firstName" type="xs:string"/>
	</wsdl:message>
	<wsdl:message name="sayHelloResponse">
		<wsdl:part name="greeting" type="xs:string"/>
	</wsdl:message>
	<wsdl:message name="LastName"/>
	<wsdl:message name="sayHelloRequestTwo">
		<wsdl:part name="lastName" type="xs:string"/>
	</wsdl:message>
	<wsdl:message name="sayHelloResponseTwo">
		<wsdl:part name="greeting" type="xs:string"/>
	</wsdl:message>
	<wsdl:portType name="HelloPortType">
		<wsdl:operation name="sayHello">
			<wsdl:input message="tns:sayHelloRequest"/>
			<wsdl:output message="tns:sayHelloResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:portType name="HelloPortTypeTwo">
		<wsdl:operation name="sayHello">
			<wsdl:input message="tns:sayHelloRequestTwo"/>
			<wsdl:output message="tns:sayHelloResponseTwo"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="HelloBinding" type="tns:HelloPortType">
		<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="sayHello">
			<soap:operation soapAction="urn:#NewOperation"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="HelloBindingTwo" type="tns:HelloPortTypeTwo">
		<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="sayHello">
			<soap:operation soapAction="urn:#sayHello"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="HelloService">
		<wsdl:port name="HelloPortType" binding="tns:HelloBinding">
			<soap:address location="http://anyhost.com/HelloService"/>
		</wsdl:port>
		<wsdl:port name="HelloPortTypeTwo" binding="tns:HelloBindingTwo">
			<soap:address location="http://anyhost.com/HelloServiceTwo"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
